
.navbar {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    color:#4B4C7A; 
    font-weight: 700;
  }
  
  .navbar li {
    margin-right: 10px;
  }
  
  .navbar button {
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
  }
  
  .navbar button.active {
    font-weight: bold;
  }
  